// Custom MuseumMakers styles
.navbar
  .search-box
    input
      border-radius: 0
    .suggestions
      border-radus: 0
      color: #2d2d2d
.theme-container
  &.no-sidebar
    .home
      max-width: fit-content
      padding: 3.6rem 0 0
      .hero
        background-color: #212121
        background: radial-gradient(circle, #373737 17%, #212121 75%)
        padding: 2rem
        margin: 0.5rem 0
        h1, .description
          color: #FFF;
        img
          background-color: #FFF;
          margin: 1.5rem auto
      .features, .license
        padding: 1.2rem 2rem
        margin-top: 0.5rem
      .content
        &.custom
          font-size: smaller;
          text-align: center;